<!DOCTYPE html>
<body>

    

 

    <table class="table table-striped">
        <thead>
            <tr>
                <th id="thsearchbar">

                    <input id ="mySearchBar" type="text" data-bind="textInput:searchText" name="FirstName" value="Mickey">
                </th>
                <th>
                    <button id="submit" data-bind="click:startSearching" type="submit" class="btn btn-primary">GO!</button>
                </th>
            </tr>
        </thead>
        </table>


        <table class="table">
            <thead>
                <tr>
                 
                    <th>Title</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody data-bind="foreach:searchData">
                <tr class="searchTR" data-bind="click: $parent.gotoquestion.bind($data, postUrl, $root)">
                  
                    <td data-bind="text:postTitle"></td>
                    <td><span class="tags_icon"></span><div class="questions_tags_container" data-bind="foreach:tags"><span class="questions_tags" data-bind="text:$data"></span></div></td>
                </tr>

            </tbody>
        </table>
    <span class="page_status">Total: </span>
    <span data-bind="text: total"></span>
    <span class="page_status">Page: </span>
    <span data-bind="text: pageNumber"></span><br><br>
    <span data-bind="if: prev"><button class="page_button" data-bind="click: prevClick"><span style="font-size:11px;">&#9668;</span>&nbsp  Prev</button></span>
    <span data-bind="if: next"><button class="page_button" data-bind="click: nextClick">Next  &nbsp<span style="font-size:11px;"> &#9658;</span></button></span>
    <br /><br />
</body>