<!DOCTYPE html>
<body>

<p id="errormsg" data-bind="visible: searchContentLength() > 1000">Error! Your input exceeds the maximum capacity (1000). Beep boop, shutting down.</p>
<p data-bind="visible: showDebugStats">Window height: <span data-bind="text: windowHeight"></span></p>
<p data-bind="visible: showDebugStats">Window width: <span data-bind="text: windowWidth"></span></p>
<p data-bind="visible: showDebugStats">Input length: <span data-bind="text: searchContentLength"></span></p>
<p data-bind="visible: showDebugStats">Value: <span data-bind="text: searchString"></span></p>

	<section>
		<div id="desktopSearchElement" class="container-fluid">
			<div data-bind="component: searchBarComponent"></div>
		</div>


        
            
            <table data-bind="if: searchString, visible: searchContentLength() < 1000" class="table table-striped">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Word</th>
                        <th>Title</th>
                        <th>Body</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: data">
                    <tr data-bind="click: $parent.gotoquestion.bind($parent, url, $root)">
                        <td data-bind="text: rank"></td>
                        <td data-bind="text: word"></td>
                        <td data-bind="text: title"></td>
                        <td data-bind="text: body"></td>
                    </tr>
                </tbody>
            </table>
            <div data-bind="visible: searchContentLength() > 0 && searchContentLength() < 1000">
                <span>Total: </span>
                <span data-bind="text: total"></span>
                <span>Page: </span>
                <span data-bind="text: pageNumber"></span>
                <span data-bind="if: prev"><button data-bind="click: prevClick">Prev</button></span>
                <span data-bind="if: next"><button data-bind="click: nextClick">Next</button></span>
            </div>
</section>
</body>