<!DOCTYPE html>
<body>

    <div id="loading" data-bind="visible: noElements">
        <span>Loading</span>
        <div class="dotsContainer">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>

	<section>

        <!-- Favourite Questions-->
        <h1>Recommended Questions</h1>
        <div class="questions_container" data-bind="foreach: recommendedQuestions">
          <div class="question_container" data-bind="click: $parent.gotoquestion.bind($parent, questionUrl, $root)">
                <div class="questions_title"><span data-bind="text: title"></span></div>
                <div class="questions_user"><span class="user_icon"></span><span class="questions_user_name" data-bind="text: user"></span></div>
               <span class="tags_icon"></span><div class="questions_tags_container" data-bind="foreach:tags"><span class="questions_tags" data-bind="text:$data"></span></div>
            </div></div>
       
       
            <div class="spacer"></div>
       
       
</section>
</body>