<head>
    <link rel="stylesheet" type="text/css" href="scripts/lib/StyleSheet1.css">
</head>
<h1>Users</h1>
<div>
    <div id="loading" data-bind="visible: noElements">
        <span>Loading...</span>
    </div>

    <div class="users_container" data-bind="foreach: data">
        <div class="User_container" data-bind="">
         
            <div class="users_displayname"><span class="user_icon"></span><span class="users_displayname" data-bind="text: displayName"></span></div>
          
        </div>

    </div>
    <span class="page_status">Total: </span>
    <span data-bind="text: total"></span>
    <span class="page_status">Page: </span>
    <span data-bind="text: pageNumber"></span><br><br>
    <span data-bind="if: prev"><button class="page_button" data-bind="click: prevClick"><span style="font-size:11px;">&#9668;</span>&nbsp  Prev</button></span>
    <span data-bind="if: next"><button class="page_button" data-bind="click: nextClick">Next  &nbsp<span style="font-size:11px;"> &#9658;</span></button></span>
    <br /><br />
</div>
